# env
**/.env

# node modules
**/node_modules

# IDE
.idea
.vscode

# Yarn
.yarn-integrity
yarn.lock
yarn-debug.log*
yarn-error.log*

# Local network
localnet/db
localnet/chain.log

# macos
**/.DS_Store

# logs
**/logs
